<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->


    <bean id="helloService" class="cn.tycoding.spring.ioc.factory.HelloService">
        <property name="name" value="tycoding"/>
        <property name="des" value="this HelloService Bean"/>
        <property name="hello" ref="hello" />
    </bean>

    <bean id="hello" class="cn.tycoding.spring.ioc.factory.Hello">
        <property name="msg" value="hello tycoding"/>
    </bean>

    <bean class="cn.tycoding.spring.ioc.factory.processor.CustomBeanPostProcessor"/>
    <bean class="cn.tycoding.spring.ioc.factory.processor.CustomBeanFactoryPostProcessor"/>
</beans>